- title <%= class_name %>.human_name(:count => 2)

%table
  %tr
    <%- for attribute in model_attributes -%>
    %th <%= attribute.human_name %>
    <%- end -%>
  - for <%= instance_name %> in @<%= instances_name %>
    %tr
      <%- if action? :edit -%>
      %td= link_to <%= instance_name %>.name, <%= item_path :action => :edit %>
      <%- end -%>
      <%- for attribute in model_attributes -%>
      %td= <%= instance_name %>.<%= attribute.name %>
      <%- end -%>
      <%- if action? :destroy -%>
      = td_with_delete_link_for <%= instance_name %>
      <%- end -%>

<%- if actions? :new -%>
= link_to_new <%= class_name %>
<%- end -%
